.container {
    padding: 0 60px;
}

.containerTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    gap: 16px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.accidentsHistory {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.dragnDrop {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
