.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.theftControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.addNewOwner {
    display: flex;

    flex-direction: column;
    margin-bottom: 20px;
}

.controls {
    display: flex;

    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.plate {
    display: flex;
    margin-bottom: 20px;
}

.fines {
    display: flex;
    flex-direction: column;
}

.addFines {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.finesHistory {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }
}
